@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
:root{
    --LinearGradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
    --Red: hsl(0, 100%, 66%);
    --White: hsl(0, 0%, 100%);
    --LightGrayishViolet: hsl(270, 3%, 87%);
    --DarkGrayishViolet: hsl(279, 6%, 55%);
    --VeryDarkViolet: hsl(278, 68%, 11%);
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img1{
    background-image: url("images/bg-main-desktop.png");
    height: 100vh;
    width: 40%;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}
.left{
    border: 1px solid red;
    position: relative;
    color: var(--White);
}
.front_side{
    border: 1px solid red;
    position: absolute;
    right: 300px;
    top: -120px;
}
.card_logo{
    border: 1px solid red;
    position: absolute;
    margin: 30px;
}
#card_number{
    border: 1px solid red;
    letter-spacing: 2px;
    position: absolute;
    bottom: 5rem;
    left: 1.5rem;
}
.info{
    border: 1px solid red;
    position: absolute;
    top: 75%;
    left: 1.5rem;
}
.date{
    position: absolute;
    border: 1px solid red;
    top: 75%;
    right: 30px;
}
.back_side{
}





























.right{
    border: 1px solid red;
}