.tip-section{
    display: flex;
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 1.25rem;
    flex-wrap: wrap;
    flex-direction: row;
}
.tip-amount{
    position: relative;
    width: 47%;
}
[name="tip"]{
    opacity: 0;
    position: absolute;
    inset: 0;
    cursor: pointer;
}
[name="tip"]:hover + .tip-btn{
    background-color: black;
}
[name="tip"]:checked + .tip-btn{
    background-color: orange;
}

.tip-btn{
    background-color: #002b2d;
    color: white;
    border-radius: .4rem;
    padding: .65rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 2rem;
}